body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #001f3f, #1a5276); /* Azul oscuro */
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #1a5276; /* Azul más claro */
    outline: none;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    background: linear-gradient(135deg, #001f3f, #1a5276); /* Azul oscuro */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.5s ease;
    text-transform: uppercase;
}

.btn:hover {
    background: linear-gradient(135deg, #1a5276, #001f3f); /* Inversión de colores */
}

.btn:active {
    transform: scale(0.98);
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.register-link p {
    margin: 0;
}

.register-link a {
    color: #001f3f; /* Azul oscuro */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.register-link a:hover {
    color: #1a5276; /* Azul más claro */
    text-decoration: underline;
}

.go-back-btn {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.5s ease;
    text-transform: uppercase;
    text-decoration: none;
}

.go-back-btn:hover {
    background: #333;
}

/* Imagen previa */
.image-preview {
    margin: 20px 0;
    text-align: center;
}

.image-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
