/* Estilos para index.blade.php - Listado de fotos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: lightblue;
}

.index-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2rem;
    padding: 2rem;
}

.go-back-btn{
    position: absolute;
    top: 2rem;
    left: 6rem;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.5s ease;
    text-transform: uppercase;
    text-decoration: none;
}
.go-back-btn:hover {
    background: #333;
}

.image-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.photo-list {
    display: flex;
    flex-wrap: wrap; /* Para que las tarjetas se acomoden automáticamente en filas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 20px; /* Espacio entre las tarjetas */
    width: 100%;
    padding: 0 20px;
}

.photo-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    width: 300px; /* Ancho fijo para las tarjetas */
    flex-shrink: 0; /* Evita que las tarjetas se encojan */
    box-sizing: border-box;
}

.photo-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.photo-info h3 {
    font-size: 18px;
    color: rgb(255, 94, 98);
    margin-bottom: 10px;
}

.photo-info p {
    font-size: 14px;
    color: #555;
}

.photo-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.photo-actions .btn {
    padding: 8px 15px;
    background: linear-gradient(135deg, rgb(255, 94, 98), rgb(251, 197, 49));
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    font-size: 1rem;

    text-decoration: none;
    transition: background 0.5s ease;
}

.photo-actions .btn:hover {
    background: linear-gradient(135deg, rgb(251, 197, 49), rgb(255, 94, 98));
}

.create-btn {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(135deg, rgb(0, 204, 255), rgb(251, 197, 49));
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    transition: background 0.3s ease;
}

.create-btn:hover {
    background: linear-gradient(135deg, rgb(251, 197, 49), rgb(0, 204, 255));
}
